{
    "id": "$input.path('$.id')",
    "first_name": "$input.path('$.first_name')",
    "last_name": "$input.path('$.last_name')",
    "phone": "$input.path('$.phone')",
    "email": "$input.path('$.email')"
}